{% extends "base.html" %} 
{% block title %}{{ book.title }}{% endblock %}
{% block content %}
<div class="container d-flex flex-column align-items-center mt-3">
  <div class="card mb-3 w-75 h-75 border-0 shadow-sm">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename='covers/' + book.cover.file_name) }}" class="card-img-top" alt="{{ book.cover.file_name }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title"> {{ book.title }} </h1>
          <h3 class="card-title"> {{ book.author }} </h3>
          <p class="card-text">  {{ book.short_description.replace('\n', '<br>') | safe }} </p>
          <p class="card-text"><strong>Жанр:</strong> {% for genre in book.genres %}{{ genre.genre_name }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
          <p class="card-text"><strong>Год издания</strong> : {{ book.year }}</p>
          <p class="card-text"><strong>Издатель</strong> : {{ book.publisher }}</p>
          <p class="card-text"><strong>Страниц</strong> : {{ book.pages }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 w-75 border-0 shadow-sm">
    <h4 class="card-header text-center">Отзывы</h4>
  </div>
  {% for review in reviews %}
    <div class="card mb-3 w-75">
        <h5 class="card-header">
          {{ review.user.last_name }} {{ review.user.first_name[0] }}.{{ review.user.middle_name[0] }}.
        </h5>
        <div class="card-body">
          <h5 class="card-title">Oценка - {{ review.score }}</h5>
          <p class="card-text">{{ review.text.replace('\n', '<br>') | safe }}</p>
        </div>
        {% if user.is_authenticated and user.role.name != 'user' %}
          <button type="button" class="btn btn-outline-danger w-25 mx-auto mb-3" data-bs-toggle="modal" data-bs-target="#delete{{ review.book_id }}{{ review.user_id }}"><i class="bi bi-trash"></i></button>
          <div class="modal fade" id="delete{{ review.book_id }}{{ review.user_id }}" tabindex="-1" aria-labelledby="delete{{ review.book_id }}{{ review.user_id }}Label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="deleteModalLabel">Удаление</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Вы уверены, что хотите удалить отзыв пользователя {{ review.user.last_name }} {{ review.user.first_name[0] }}.{{ review.user.middle_name[0] }}.?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                  <a href="{{ url_for('views.delete_review', book_id=review.book.id, user_id=review.user_id) }}" class="btn btn-danger">Да</a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
    </div>
  {% endfor %}
  {% if not user_reviewed %}
    <a href="{{ url_for('views.add_review', id=book.id) }}" class="btn btn-primary mb-3" id="add_review">Написать рецензию</a>
  {% endif %}
</div>
{% endblock %}